---
import BaseLayout from '../layouts/BaseLayout.astro';
import AboutDetail from '../components/AboutDetail';
import { useTranslations } from '../i18n/utils';

const t = useTranslations('en');
---

<BaseLayout title="About - Yainier">
    <div class="pt-20">
        <AboutDetail client:load abstract={t('about.abstract')} trans={{
            pageTitle: t('about.page.title'),
            pageSubtitle: t('about.page.subtitle'),
            professionalSummary: t('about.professionalSummary')
        }} />
    </div>
</BaseLayout>
