---
import BaseLayout from '../../layouts/BaseLayout.astro';
import About from '../../components/About';
import { useTranslations } from '../../i18n/utils';

import { languages } from '../../i18n/ui';

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
      return { params: { lang } };
  });
}

const { lang } = Astro.params;
const t = useTranslations(lang as any);
---

<BaseLayout title="Sobre Mí - Yainier">
    <div class="pt-20">
        <About client:load trans={{
            titlePart1: t('about.title.part1'),
            titlePart2: t('about.title.part2'),
            p1: t('about.p1'),
            p2: t('about.p2'),
            cta: t('about.cta')
        }} />
    </div>
</BaseLayout>
