---
import BaseLayout from '../../layouts/BaseLayout.astro';
import AboutDetail from '../../components/AboutDetail';
import { useTranslations } from '../../i18n/utils';

import { languages } from '../../i18n/ui';

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
      return { params: { lang } };
  });
}

const { lang } = Astro.params;
const t = useTranslations(lang as any);
---

<BaseLayout title={lang === 'es' ? 'Sobre Mí - Yainier' : 'About - Yainier'}>
    <div class="pt-20">
        <AboutDetail client:load abstract={t('about.abstract')} trans={{
            pageTitle: t('about.page.title'),
            pageSubtitle: t('about.page.subtitle'),
            professionalSummary: t('about.professionalSummary')
        }} />
    </div>
</BaseLayout>
